@import "../../sassStyles/variables";

.title {
  margin-top: 20vh;
  font-family: "SF Pro";
  font-size: $title-font-size;
}

.light.title {
  color: $complementar-light;
}

.dark.title {
  color: $complementar-dark;
}
