@import "../../sassStyles/variables";

.button {
  background-color: transparent;
  padding: 15px 17px;

  font-family: "Questrial", sans-serif;
  border: none;
  text-align: center;
  font-size: 16px;
  transition: 200ms;
  position: relative;
}

.button::after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 0;
  left: 50%;
  transition: width 200ms ease 0ms, left 200ms ease 0ms;
}

.light.button::after {
  background: $complementar-light;
}

.dark.button::after {
  background: $complementar-dark;
}

.button:hover::after {
  width: 100%;
  left: 0;
}

.light {
  color: $text-light;
}

.dark {
  color: $text-dark;
}

@media (max-height: 620px) {
  .button {
    padding: 0;
  }
}
