@import "../../sassStyles/variables";

.button {
  border: 1px solid;
  border-radius: 5px;
  height: 28px;
  padding: 6px 10px;

  display: flex;
  align-items: center;
  background-color: transparent;
  font-family: "Questrial", sans-serif;
  text-align: center;
  font-size: 16px;
  transition: 200ms;
  position: relative;
}

.light.button {
  border-color: $complementar-light;
  color: $complementar-light;
}

.dark.button {
  border-color: $complementar-dark;
  color: $complementar-dark;
}

.button:hover {
  color: #fff;
}

.light.button:hover {
  background-color: $complementar-light;
}

.dark.button:hover {
  background-color: $complementar-dark;
}

.collapsed {
  margin: 7px 0px;
}

@media (max-height: 410px) {
  .collapsed {
    margin: 2px 0;
  }
}
