.themeButtonExpanded {
  margin-left: 15px;
}

.themeButtonCollapsed {
  padding-bottom: 20px;
}

.themeButton {
  height: 70px;
  display: flex;
  flex: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  text-align: center;
  transition: 200ms;
  position: relative;
}

@media (max-height: 620px) {
  .themeButton {
    margin-top: 0px;
    height: 30px;
  }
}

@media (max-height: 410px) {
  .themeButton {
    padding-bottom: 5px;
  }
}
