@import "./variables";

@font-face {
  font-family: "Questrial";
  src: local("Questrial"),
    url("../fonts/questrial-regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "SF Pro";
  src: local("SF Pro"),
    url("../fonts/sf-pro-text-regular.ttf") format("truetype");
  font-weight: normal;
}

.light {
  color: $text-light;
  background-color: $primary-light;
}

.dark {
  color: $text-dark;
  background-color: $primary-dark;
}
