$primary-dark: #131313;
$secondary-dark: #1d1d1d;
$third-dark: #262626;
$fourth-dark: #1b1b1b;
$complementar-dark: #0096ff;
$text-dark: #ffffff;
$footer-dark: #000000;

$primary-light: #ffffff;
$secondary-light: #f9f9f9;
$third-light: #ffffff;
$fourth-light: #e1e1e1;
$complementar-light: #273979;
$text-light: #000000;
$footer-light: #f6f6f6;

$title-font-size: 32px;
