@import "../../sassStyles/variables";

.bg {
  overflow-x: hidden;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 100vw;
  height: 77px;
  background-color: #dd4f39;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.light.bg {
  background-color: $secondary-light;
}

.dark.bg {
  background-color: $secondary-dark;
}
